
<tr>

<td><%= form.params_check_box "file_args[#{idx}][launch]" %></td>

<td>
  <%= h(file[:t1_name]) %>
  <%= form.params_hidden_field "file_args[#{idx}][t1_name]" %>
  <%= form.params_hidden_field "file_args[#{idx}][t2_name]" %>
  <%= form.params_hidden_field "file_args[#{idx}][pd_name]" %>
  <%= form.params_hidden_field "file_args[#{idx}][mk_name]" %>
</td>

<td><%= form.params_text_field "file_args[#{idx}][prefix]" %></td>
<td><%= form.params_text_field "file_args[#{idx}][dsid]"   %></td>

<% if file[:t2_name].blank? %>
  <td><FONT COLOR="red">&times;</FONT></td>
<% else %>
  <td><FONT COLOR="green">&#10004;</FONT></td>
<% end %>

<% if file[:pd_name].blank? %>
  <td><FONT COLOR="red">&times;</FONT></td>
<% else %>
  <td><FONT COLOR="green">&#10004;</FONT></td>
<% end %>

<% if file[:mk_name].blank? %>
  <td><FONT COLOR="red">&times;</FONT></td>
<% else %>
  <td><FONT COLOR="green">&#10004;</FONT></td>
<% end %>

<% if file[:t2_name].blank? && file[:pd_name].blank? %>
  <td></td>
<% else %>
  <td><%= check_box_tag( "cbrain_task[params][file_args][#{idx}][multispectral]", '1', file[:multispectral] ) %></td>
<% end %>

<% if file[:mk_name].blank? %>
  <td></td>
<% else %>
  <td><%= check_box_tag( "cbrain_task[params][file_args][#{idx}][spectral_mask]", '1', file[:spectral_mask] ) %></td>
<% end %>

</tr>

