
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<%
    base_dir = (base_directory || params[:base_directory]) rescue ""  # might be unset
%>

<% if @userfile.is_locally_synced? %>
  <%
    png_files  = Hash.new
    verify_dir = base_dir.present? ? "#{base_dir}/verify" : "verify"
    @userfile.list_files(verify_dir).each do |f|
      if f.name =~ /([a-z]+)\.png$/i
        short_name = $1.capitalize
        png_files[short_name] = f
      end
    end
  %>

  <% if !png_files.empty? %>
    <%= overlay_content_link "Show Displayable Contents", :class => "action_link" do %>
      <!-- Set anchor -->
      <a id="top"></a>
      <b>Go to:</b>
      <% order = [ 'Verify', 'Clasp', 'Atlas', 'Surfsurf', 'Laplace' ] %>
      <% order.each do |short_name| %>
        <% file = png_files[short_name] %>
        <% next unless file %>
        <% file = png_files[short_name] %>
        <a href="#<%= short_name %>"><%= short_name %></a>
      <% end %>
      <!-- Render png -->
      <% order.each do |short_name| %>
        <% file = png_files[short_name] %>
        <% next unless file %>
        <div id="<%= short_name %>">
          <h3><%= short_name %> <small>(<a href="#top">top</a>)</small><h3>
          <%= image_tag url_for(:action  => :content, :content_loader => :collection_file, :arguments => file.name) %>
        </div>
      <% end %>
   <% end %>
 <% end %>

<% end %>

<%= overlay_ajax_link "CIVET Directories Explained",
                      display_userfile_path(@userfile,
                          :viewer                => :civet_directories_explained,
                          :viewer_userfile_class => :CivetOutput
                      ),
                      :class => "action_link"
%>

<%= render :file    => FileCollection.find_viewer(:file_collection).partial_path,
           :locals  => { :base_directory => base_dir }
%>

