
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<% 
  filelist ||= ( @userfile.list_files rescue [] )
%>
 
<table class="simple">
   <tr>
      <th>Final</th>
      <th>Native</th>
      <th>Surfaces</th>
   </tr>
   <tr class="list-odd">
      <td rowspan="3" class="no_wrap">
         <%= filelist.select{ |file| file.name =~ /^.+\/final\// }.map{ |file|  string_if(@userfile.is_locally_synced?, check_box_tag('file_names[]', file.name)) + file.name.sub(/^.+\/final\//, "") +
                                                                                                                                          " (#{pretty_size(file.size).strip})"}.join('<br>') %>
      </td>
      <td class="no_wrap">
         <%= filelist.select{ |file| file.name =~ /^.+\/native\// }.map{ |file|  string_if(@userfile.is_locally_synced?, check_box_tag('file_names[]', file.name)) + file.name.sub(/^.+\/native\//, "") +
                                                                                                                                          " (#{pretty_size(file.size).strip})"}.join('<br>') %>
      </td>
      <td rowspan="3" class="no_wrap">
         <%= filelist.select{ |file| file.name =~ /^.+\/surfaces\// }.map{ |file|  string_if(@userfile.is_locally_synced?, check_box_tag('file_names[]', file.name)) + obj_link(file.name, @userfile) +
                                                                                                                                          " (#{pretty_size(file.size).strip})"}.join('<br>') %>
      </td>
   </tr>
   <tr>
      <th>Mask</th>
   </tr>
   <tr class="list-odd">
      <td class="no_wrap">
         <%= filelist.select{ |file| file.name =~ /^.+\/mask\// }.map{ |file|  string_if(@userfile.is_locally_synced?, check_box_tag('file_names[]', file.name)) + file.name.sub(/^.+\/mask\//, "") +
                                                                                                                                          " (#{pretty_size(file.size).strip})"}.join('<br>') %>
      </td>
   </tr>
   <tr>
      <th>Classify</th>
      <th>Thickness</th>
      <th>Verify</th>
   </tr>
   <tr class="list-odd">
      <td class="no_wrap">
         <%= filelist.select{ |file| file.name =~ /^.+\/classify\// }.map{ |file|  string_if(@userfile.is_locally_synced?, check_box_tag('file_names[]', file.name)) + file.name.sub(/^.+\/classify\//, "") +
                                                                                                                                          " (#{pretty_size(file.size).strip})"}.join('<br>') %>
      </td>
      <td class="no_wrap">
        <%= filelist.select{ |file| file.name =~ /^.+\/thickness\// }.map{ |file|  string_if(@userfile.is_locally_synced?, check_box_tag('file_names[]', file.name)) + file.name.sub(/^.+\/thickness\//, "") +
                                                                                                                                          " (#{pretty_size(file.size).strip})"}.join('<br>') %>
      </td>
      <td class="no_wrap">
         <%= filelist.select{ |file| file.name =~ /^.+\/verify\// }.map{ |file|  string_if(@userfile.is_locally_synced?, check_box_tag('file_names[]', file.name)) + file.name.sub(/^.+\/verify\//, "") +
                                                                                                                                           " (#{pretty_size(file.size).strip})"}.join('<br>') %>
      </td>
   </tr>
   <tr>
      <th>Linear Transformations</th>
      <th>Non-linear Transformations</th>
      <th>Surface Transformations</th>
   </tr>
   <tr class="list-odd">
      <td class="no_wrap">
         <%= filelist.select{ |file| file.name =~ /^.+\/transforms\/linear\// }.map{ |file|  string_if(@userfile.is_locally_synced?, check_box_tag('file_names[]', file.name)) + file.name.sub(/^.+\/transforms\/linear\//, "") +
                                                                                                                                           " (#{pretty_size(file.size).strip})"}.join('<br>') %>
      </td>
      <td class="no_wrap">
         <%= filelist.select{ |file| file.name =~ /^.+\/transforms\/nonlinear\// }.map{ |file|  string_if(@userfile.is_locally_synced?, check_box_tag('file_names[]', file.name)) + file.name.sub(/^.+\/transforms\/nonlinear\//, "") +
                                                                                                                                            " (#{pretty_size(file.size).strip})"}.join('<br>') %>
      </td>
      <td class="no_wrap">
         <%= filelist.select{ |file| file.name =~ /^.+\/transforms\/surfreg\// }.map{ |file|  string_if(@userfile.is_locally_synced?, check_box_tag('file_names[]', file.name)) + file.name.sub(/^.+\/transforms\/surfreg\//, "") + 
                                                                                                                                            " (#{pretty_size(file.size).strip})"}.join('<br>') %>
      </td>
   </tr>
</table>

