<% 
  subject ||= @userfile.list_files
 %>
 
<table class="simple">
   <tr>
      <th>Final</th>
      <th>Native</th>
      <th>Surfaces</th>
   </tr>
   <tr class="list-odd">
      <td class="no_wrap">
         <%= subject.select{ |file| file.name =~ /^.+\/final\// }.map{ |file|  string_if(@userfile.is_locally_synced?, check_box_tag('file_ids[]', file.name)) + file.name.sub(/^.+\/final\//, "") +
                                                                                                                                          " (#{pretty_size(file.size).strip})"}.join('<br>') %>
      </td>
      <td class="no_wrap">
         <%= subject.select{ |file| file.name =~ /^.+\/native\// }.map{ |file|  string_if(@userfile.is_locally_synced?, check_box_tag('file_ids[]', file.name)) + file.name.sub(/^.+\/native\//, "") +
                                                                                                                                          " (#{pretty_size(file.size).strip})"}.join('<br>') %>
      </td>
      <td class="no_wrap">
         <%= subject.select{ |file| file.name =~ /^.+\/surfaces\// }.map{ |file|  string_if(@userfile.is_locally_synced?, check_box_tag('file_ids[]', file.name)) + obj_link(file.name, @userfile) +
                                                                                                                                          " (#{pretty_size(file.size).strip})"}.join('<br>') %>
      </td>
   </tr>
   <tr>
      <th>Classify</th>
      <th>Thickness</th>
      <th>Verify</th>
   </tr>
   <tr class="list-odd">
      <td class="no_wrap">
         <%= subject.select{ |file| file.name =~ /^.+\/classify\// }.map{ |file|  string_if(@userfile.is_locally_synced?, check_box_tag('file_ids[]', file.name)) + file.name.sub(/^.+\/classify\//, "") +
                                                                                                                                          " (#{pretty_size(file.size).strip})"}.join('<br>') %>
      </td>
      <td class="no_wrap">
        <%= subject.select{ |file| file.name =~ /^.+\/thickness\// }.map{ |file|  string_if(@userfile.is_locally_synced?, check_box_tag('file_ids[]', file.name)) + file.name.sub(/^.+\/thickness\//, "") +
                                                                                                                                          " (#{pretty_size(file.size).strip})"}.join('<br>') %>
      </td>
      <td class="no_wrap">
         <%= subject.select{ |file| file.name =~ /^.+\/verify\// }.map{ |file|  string_if(@userfile.is_locally_synced?, check_box_tag('file_ids[]', file.name)) + file.name.sub(/^.+\/verify\//, "") +
                                                                                                                                           " (#{pretty_size(file.size).strip})"}.join('<br>') %>
      </td>
   </tr>
   <tr>
      <th>Linear Transformations</th>
      <th>Non-linear Transformations</th>
      <th>Surface Transformations</th>
   </tr>
   <tr class="list-odd">
      <td class="no_wrap">
         <%= subject.select{ |file| file.name =~ /^.+\/transforms\/linear\// }.map{ |file|  string_if(@userfile.is_locally_synced?, check_box_tag('file_ids[]', file.name)) + file.name.sub(/^.+\/transforms\/linear\//, "") +
                                                                                                                                           " (#{pretty_size(file.size).strip})"}.join('<br>') %>
      </td>
      <td class="no_wrap">
         <%= subject.select{ |file| file.name =~ /^.+\/transforms\/nonlinear\// }.map{ |file|  string_if(@userfile.is_locally_synced?, check_box_tag('file_ids[]', file.name)) + file.name.sub(/^.+\/transforms\/nonlinear\//, "") +
                                                                                                                                            " (#{pretty_size(file.size).strip})"}.join('<br>') %>
      </td>
      <td class="no_wrap">
         <%= subject.select{ |file| file.name =~ /^.+\/transforms\/surfreg\// }.map{ |file|  string_if(@userfile.is_locally_synced?, check_box_tag('file_ids[]', file.name)) + file.name.sub(/^.+\/transforms\/surfreg\//, "") + 
                                                                                                                                            " (#{pretty_size(file.size).strip})"}.join('<br>') %>
      </td>
   </tr>
</table>

