
<%

#
# CBRAIN Project
#
# $Id$
#

-%>

<big>File options for T1 file: <strong><%= h(file[:t1_name]) %></strong></big><BR>
<table border="0" class="userfiles">
   <tr>
      <td>
         Prefix:
      </td>
      <td>
      <%= text_field_tag 'file_args[][prefix]', file[:prefix] %>   
      </td>
   </tr>
   <tr>
      <td>
         Subject ID:
      </td>
      <td>
      <%= text_field_tag 'file_args[][dsid]',   file[:dsid]   %>
      </td>
   </tr>
</table>

<% if file[:t2_name] || file[:pd_name] || file[:mk_name] %>

   <%   if file[:t2_name] %>
      Found T2 file: <%= h(file[:t2_name]) %><BR>
   <%   end %>
   <%   if file[:pd_name] %>
      Found PD file: <%= h(file[:pd_name]) %><BR>
   <%   end %>
   <%   if file[:mk_name] %>
      Found Mask file: <%= h(file[:mk_name]) %><BR>
   <%   end %>

   Multispectral:
     <%= check_box_tag( 'file_args[][multispectral]', '1', file[:multispectral] ) %>
   Spectral Mask:
     <%= check_box_tag( 'file_args[][spectral_mask]', '1', file[:spectral_mask] ) %> <BR>

<% end %>

<%= hidden_field_tag 'file_args[][t1_name]', file[:t1_name] %>
<%= hidden_field_tag 'file_args[][t2_name]', file[:t2_name] %>
<%= hidden_field_tag 'file_args[][pd_name]', file[:pd_name] %>
<%= hidden_field_tag 'file_args[][mk_name]', file[:mk_name] %>

<HR>
