
<%

#
# CBRAIN Project
#
# $Id$
#

-%>

<% title 'Civet Parameters' %>
<div class = "generalcontent">

   <h2>Launch CIVET tasks</h2>
   <div class = "generalbox">


      <% form_tag( '/tasks/create' ) do -%>

         <%= hidden_field_tag :task, 'DrmaaCivet' %>
         <%= hidden_field_tag 'bourreau_id',      default_args[:bourreau_id] %>
         <%= hidden_field_tag 'collection_id',    default_args[:collection_id] %> <!-- can be nil -->
         <%= hidden_field_tag 'file_ids[]',       default_args[:collection_id] %> <!-- can be nil -->
         
         <big>Description (optional)</big><BR>
         <%=  text_area_tag :description, nil, :cols  => 40 %><br><br>

         <big>Command options:</big><BR>

         <table class="userfiles">
            <tr>
               <th>Pipeline Control Options</th>
               <th>Civet Options</th>
            <tr>
            <tr class="list-even">
            <td>
               <table border="0" class="userfiles">
               <tr>
                  <td>
                     Make graph:
                  </td>
                  <td>
                    <%= check_box_tag( 'civet_args[make_graph]', '1', default_args[:civet_args][:make_graph]) %>     
                  </td>
               </tr>
               <tr>
                  <td>
                      Make filename graph:  
                  </td>
                  <td>
                      <%= check_box_tag( 'civet_args[make_filename_graph]', '1', default_args[:civet_args][:make_filename_graph] ) %>    
                  </td>
               </tr>
               <tr>
                  <td>
                      Print status report:
                  </td>
                  <td>
                      <%= check_box_tag( 'civet_args[print_status_report]', '1', default_args[:civet_args][:print_status_report] ) %>    
                  </td>
               </tr>
               </table>      
            </td>
            <td rowspan="3">
               <table border="0" class="userfiles">
                  <tr>
                     <td>
                        Correct PVE:
                     </td>
                     <td>
                        <%= check_box_tag( 'civet_args[correct_pve]', '1', default_args[:civet_args][:correct_pve] ) %>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        Interpolation:
                     </td>
                     <td>
                        <select name="civet_args[interp]">
                          <%= options_for_select(
                            [ "trilinear", "tricubic", "sinc" ],
                            default_args[:civet_args][:interp])
                          %>
                          </select>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        N3 distance:
                     </td>
                     <td>
                        <%= text_field_tag 'civet_args[N3_distance]', default_args[:civet_args][:N3_distance]   %>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        Number of parameters transformation for linear registration:
                     </td>
                     <td>
                        <select name="civet_args[lsq]">
                          <%= options_for_select(
                            [ "6", "9", "12" ],
                            default_args[:civet_args][:lsq])
                          %>
                          </select>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        Do NOT build surfaces:
                     </td>
                     <td>
                         <%= check_box_tag( 'civet_args[no_surfaces]', '1', default_args[:civet_args][:no_surfaces] ) %>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        Thickness method and kernel size:       
                     </td>
                     <td>
                        <select name="civet_args[thickness_method]">
                          <%= options_for_select(
                            [ "tnormal", "tlink", "tlaplace", "tnear" ],
                            default_args[:civet_args][:thickness_method])
                          %>
                          </select>
                          <%= text_field_tag 'civet_args[thickness_kernel]', default_args[:civet_args][:thickness_kernel]   %>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        Resample surfaces:
                     </td>
                     <td>
                        <%= check_box_tag( 'civet_args[resample_surfaces]', '1', default_args[:civet_args][:resample_surfaces] ) %>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        Combine surfaces:
                     </td>
                     <td>
                        <%= check_box_tag( 'civet_args[combine_surfaces]', '1', default_args[:civet_args][:combine_surfaces] ) %>
                     </td>
                  </tr>
                </table>
            </td>
            </tr>

            <tr>
               <th>Pipeline Options</th>
            </tr>
            <tr class="list-even">
            <td>
               <table border="0" class="userfiles">
                  <tr>
                     <td>
                        Template:
                     </td>
                     <td>
                        <select name="civet_args[template]">
                          <%= options_for_select(
                            [ "0.50", "0.75", "1.00", "1.50", "2.00", "3.00", "4.00", "6.00" ],
                            default_args[:civet_args][:template])
                          %>
                          </select>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        Model:
                     </td>
                     <td>
                        <select name="civet_args[model]">
                          <%= options_for_select(
                            [ "icbm152lin", "icbm152nl" ],
                            default_args[:civet_args][:model])
                          %>
                          </select>
                     </td>
                  </tr>
                </table>
            </td>
            </tr>

         </table>

         Save results to:
         <%= select_tag "data_provider_id", options_for_select([["Data provider of input files", nil]] + data_providers.collect{ |p| [ p.name, p.id ] }, current_user.user_preference.data_provider_id) %><br><br>

         Save selections as defaults: <%= check_box_tag( :save_as_defaults, '1') %><br><br>

         <%= submit_tag 'Start CIVET' %>

         <hr>
         <br>
         <% if default_args[:collection_id] %>
           <big>MINC file input list for collection <em><%= Userfile.find(default_args[:collection_id]).name %></em></big>
         <% else %>
           <big>MINC file input list</big>
         <% end %>
         <br>
         <table>
            <tr>
              <th>T1 name</th>
              <th>Prefix</th>
              <th>Subject ID</th>
              <th>T2 found?</th>
              <th>PD found?</th>
              <th>Mask found?</th>
              <th>Use multispectral?</th>
              <th>Use mask?</th>
            </tr>
            <% for file in default_args[:file_args] %>
               <% if default_args[:collection_id] %>
                 <%= render :partial => 'civet_file_from_col',  :locals  => {:file  => file} %>
               <% else %>
                 <%= render :partial => 'civet_file_from_list', :locals  => {:file  => file} %>
               <% end %>
            <% end %>
         </table>

         <%= submit_tag 'Start CIVET' %>

      <% end %>  <!-- End form -->
   </div>  <!-- End class="generalbox" -->
</div>   <!-- End class="generalcontent" -->
