
<%

#
# CBRAIN Project
#
# $Id$
#

-%>

<!--
   Partial to be rendered for DrmaaMnc2nii
   author: Mathieu Desrosiers
-->

<% title 'Mnc2nii Parameters' %>

<h1>New Mnc2nii task</h1>

<% form_tag( '/tasks/create' ) do -%>

   <%= hidden_field_tag :task, 'DrmaaMnc2nii' %>
   <%= hidden_field_tag 'bourreau_id', params[:bourreau_id] %>
   <% params[:file_ids].each do |id| %>
   <%= hidden_field_tag 'file_ids[]',  id %>
   <% end %>


   <big>Command options:</big><BR>

   <table class="userfiles">
   <tr>
      <th>Mnc2nii Control Options</th>
      <th>Mnc2nii Options</th>
   <tr>
   <tr class="list-even">
   <td>
      <table border="0" class="userfiles">
      <tr>
         <td>
             Print status report:
         </td>
         <td>
             <%= check_box_tag( 'dcm2nii_params[print_status_report]', '1',  '1') %>
         </td>
      </tr>
      </table>
   </td>
   <td rowspan="3">
      <table border="0" class="userfiles">
         <tr>
            <td>
               Output voxel data type:
            </td>
            <td>
               <select name="data_type">
                 <%= options_for_select(
                   [ "byte", "short", "int", "float", "double", "signed", "unsigned","default" ],
                   "default")
                 %>
                 </select>
            </td>
         </tr>
         <tr>
            <td>
               Output file format:
            </td>
            <td>
               <select name="file_format">
                 <%= options_for_select(
                   [ "dual", "ASCII", "nii", "analyze"],
                   "nii")
                 %>
                 </select>
            </td>
         </tr>

       </table>
   </td>
   </tr>

   <tr>
      <th>Pipeline Options</th>
   </tr>
   <tr class="list-even">
   <td>
      <table border="0" class="userfiles">
       </table>
   </td>
   </tr>

   </table>





   <%= submit_tag 'Start Mnc2nii' %>

<% end %> <!-- End form -->
