
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% require 'open3' %>

<br/>

<% if @userfile.is_locally_synced? %>

<!-- Checkboxes -->
<input type="checkbox"
       <%= params[:verbose]=="true" ? "checked" : "" %>
       onchange="reloadViewer('verbose',<%= params[:verbose]!="true" %>)">
Verbose<br>

<input type="checkbox"
       <%= params[:ignore_warnings]=="true" ? "checked" : "" %>
       onchange="reloadViewer('ignore_warnings',<%= params[:ignore_warnings]!="true" %>)">
Ignore Warnings<br>

<input type="checkbox"
       <%= params[:ignore_nifti_headers]=="true" ? "checked" : "" %>
       onchange="reloadViewer('ignore_nifti_headers',<%= params[:ignore_nifti_headers]!="true" %>)">
Ignore Nifti headers<br>

<%# Command-line construction and system call to BIDS validator %>
<% command_line = "bids-validator" %>
<% command_line += " --verbose"              if params[:verbose] == "true" %>
<% command_line += " --ignoreWarnings"       if params[:ignore_warnings] == "true" %>
<% command_line += " --ignoreNiftiHeaders"   if params[:ignore_nifti_headers] == "true" %>
<% command_line += " #{@userfile.cache_full_path}" %>
<% stdout, stderr, status = Open3.capture3(command_line) %>

<!-- Display -->
<p>
<pre>
  <font color="blue"><%= raw(stdout) %></font>
</pre>
</p>
<p>
<pre>
  <font color="red"><%= raw(stderr) %></font>
</pre>
</p>

<!-- Functions -->
<script>
  function reloadViewer(param,status){
    var cleanUrl = removeParam(param,window.location.href);
    location.replace(cleanUrl+"&"+param+"="+status);
  }
  function removeParam(key, sourceURL) {
  var rtn = sourceURL.split("?")[0],
      param,
      params_arr = [],
      queryString = (sourceURL.indexOf("?") !== -1) ? sourceURL.split("?")[1] : "";
  if (queryString !== "") {
    params_arr = queryString.split("&");
    for (var i = params_arr.length - 1; i >= 0; i -= 1) {
      param = params_arr[i].split("=")[0];
      if (param === key) {
        params_arr.splice(i, 1);
      }
    }
    rtn = rtn + "?" + params_arr.join("&");
  }
  return rtn;
  }
</script>

<% end %>
