
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% file_args = params[:file_args].presence || {} %>
<% if file_args.size > 1 %>
  <%= render :partial => task_partial(:deprecated_warning) %>
<% end %>

<P>
<STRONG>Input(s):</STRONG>
<P>

<% if params[:collection_id].present? %>
File collection: <%= link_to_userfile_if_accessible params[:collection_id] %>
<% end  %>

<P>

<% if file_args.present? %>
  <ul>
  <% params_to_string = { mk: "Mask", mp: "MP2", csf: "CSF" } %>

  <% file_args.keys.sort { |a,b| a.to_i <=> b.to_i }.each do |arg_idx| %>
    <% file_params = file_args[arg_idx] || {} %>

    <% if params[:collection_id].blank? %>
      <li>T1: <%= link_to_userfile_if_accessible file_params[:t1_id] %></li>
    <% else %>
      <li>T1: <%= file_params[:t1_name] %> (inside collection)</li>
    <% end %>

    <%
      file_params.each do |param_name, param_value|
        next if param_name =~ /^t1_/
        next if param_name !~ /^(.*)_(id|name)/
        param_wo_id = $1
    %>
        <li>
          <%= params_to_string[param_wo_id.to_sym] || param_wo_id.upcase %>: file
          <% if param_name =~ /_name/ %>
            <%= file_params[param_name] %> (inside collection)
          <% else %>
            <%= link_to_userfile_if_accessible(file_params[param_name]) %>
        </li>
      <% end %>
    <% end %>

    <br/>

    <li>Use multispectral classification: <%= params[:use_multispectral] == "all" ? "yes" : "no" %></li>
    <li>Use multispectral mask:           <%= params[:use_spectral_mask] == "all" ? "yes" : "no" %></li>
  <% end %>
  </ul>
<% end %>

<P>
<STRONG>Output:</STRONG>
<P>

<% if params[:output_civetcollection_ids].blank? && params[:output_civetcollection_id].present? %>
  CIVET Output: <%= link_to_userfile_if_accessible params[:output_civetcollection_id] %>
<% else %>
  <% ids = params[:output_civetcollection_ids] || [] %>
  <% if ids.present? %>
    <ul>
    <% ids.each do |id| %>
      <li>CIVET Output: <%= link_to_userfile_if_accessible(id) %></li>
    <% end %>
    </ul>
  <% else %>
    No CIVET output generated yet.
  <% end %>
<% end %>

<% if file_args.size == 1 %>

<P>
<STRONG>Other parameters:</STRONG>
<P>

See this task's <%= link_to "edit page", edit_task_path(task) %> for more information.

<% end %>

