
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

Input files selected:<BR>
<UL>
  <% params[:interface_userfile_ids].each do |id| %>
  <LI><%= link_to_userfile_if_accessible(id) %></LI>
  <% end %>
</UL>

<P>

Fractional intensity threshold (-f): </br>
<%= form.params_text_field :fractional_intensity %></br>
Vertical gradient in fractional intensity threshold (-g): </br>
<%= form.params_text_field :vertical_gradient %></br>

<%= form.params_check_box :with_b  %><%= form.params_label :with_b , "Run with -B (bias field & neck cleanup, can be useful in SIENA)."  %><br/>
<%= form.params_check_box :with_f  %><%= form.params_label :with_f , "Run with -F (apply to 4D FMRI data: uses -f 0.3 and dilates brain mask slightly)."  %><br/>
<%= form.params_check_box :with_s  %><%= form.params_label :with_s , "Run with -S (eye & optic nerve cleanup, can be useful in SIENA)."  %><br/>
<%= form.params_check_box :with_r  %><%= form.params_label :with_r , "Run with -R (robust brain centre estimation, iterates BET several times)."  %><br/>
<p>
Output name:<br>
<%= form.params_text_field :output_name %></br>
</P>
