
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

Input volumes selected:<BR>
<UL>
  <% params[:interface_userfile_ids].each do |id| %>
  <LI><%= link_to_userfile_if_accessible(id) %></LI>
  <% end %>
</UL>

<% with_multi_userfile = true if params[:interface_userfile_ids].size > 1 %>

<% if with_multi_userfile && @task.new_record? %>
  Run this set as multiple subjects? 
  <%= form.params_select    :multiple_subjects, [ '', 'Single', 'Multiple' ] %><br/>
  <small class="medium_paragraph">
    You need to choose between :</br>
    - Single: All the input volumes are considered as acquisitions of a single subject,
    which will launch a single recon-all task.</br>
    - Multiple: All the input volumes are considered as independants acquisitions for many subjects,
    which will launch one recon-all for each input file.</br> 
  </small>
<% end %>

</p>

Subject name: </br>
<%= form.params_text_field :subject_name %></br>
<% if with_multi_userfile %>
  <small class="medium_paragraph">
    <% if with_multi_userfile %>
    Subject name is required if you run multiples volumes for one subject.<br>
    <% end %>
    If you don't fill this option, the subject name will have the following format: {input_without_extension}</br>
  </small>
<% end %>

</p>

Output name: </br>
<%= form.params_text_field :output_name %></br>
<small class="medium_paragraph">
  recon-all's output is saved in ReconAllOutput files.</br>
  If you don't fill this option, the output name will be the same as the subject name.<br>
  Otherwise, the output name will have the following format {output_name}-{task_number}-{run_number}</br>
</small>

</p>

Run with qcache: 
<%= form.params_check_box :with_qcache %>

