
<tr>

<td><%= check_box_tag( "cbrain_task[params][file_args][#{idx}][launch]", '1', file[:launch], :class => 'launch_it' ) %></td>

<td>
  <%= h(file[:t1_name]) %>
  <%= hidden_field_tag "cbrain_task[params][file_args][#{idx}][t1_name]", file[:t1_name] %>
  <%= hidden_field_tag "cbrain_task[params][file_args][#{idx}][t1_id]",   file[:t1_id]   %>
  <%= hidden_field_tag "cbrain_task[params][file_args][#{idx}][t2_id]",   file[:t2_id]   %>
  <%= hidden_field_tag "cbrain_task[params][file_args][#{idx}][pd_id]",   file[:pd_id]   %>
  <%= hidden_field_tag "cbrain_task[params][file_args][#{idx}][mk_id]",   file[:mk_id]   %>
</td>

<td><%= text_field_tag "cbrain_task[params][file_args][#{idx}][prefix]", file[:prefix] %></td>
<td><%= text_field_tag "cbrain_task[params][file_args][#{idx}][dsid]",   file[:dsid]   %></td>

<% if file[:t2_id].blank? %>
  <td><FONT COLOR="red">&times;</FONT></td>
<% else %>
  <td><FONT COLOR="green">&#10004;</FONT></td>
<% end %>

<% if file[:pd_id].blank? %>
  <td><FONT COLOR="red">&times;</FONT></td>
<% else %>
  <td><FONT COLOR="green">&#10004;</FONT></td>
<% end %>

<% if file[:mk_id].blank? %>
  <td><FONT COLOR="red">&times;</FONT></td>
<% else %>
  <td><FONT COLOR="green">&#10004;</FONT></td>
<% end %>

<% if file[:t2_id].blank? && file[:pd_id].blank? %>
  <td></td>
<% else %>
  <td><%= check_box_tag( "cbrain_task[params][file_args][#{idx}][multispectral]", '1', file[:multispectral] ) %></td>
<% end %>

<% if file[:mk_id].blank? %>
  <td></td>
<% else %>
  <td><%= check_box_tag( "cbrain_task[params][file_args][#{idx}][spectral_mask]", '1', file[:spectral_mask] ) %></td>
<% end %>

</tr>

