
<%

#
# CBRAIN Project
#
# $Id$
#

-%>

<% title 'Civet Parameters' %>

<%= hidden_field_tag :collection_id.to_la, params[:collection_id] %> <!-- can be nil -->
         
         <big>Command options:</big><BR>

         <table class="userfiles">
            <tr>
               <th>Pipeline Control Options</th>
               <th>Civet Options</th>
            <tr>
            <tr class="list-even">
            <td>
               <table border="0" class="userfiles">
               <tr>
                  <td>
                     Make graph:
                  </td>
                  <td>
                    <%= check_box_tag( :make_graph.to_la, '1', params[:make_graph]) %>     
                  </td>
               </tr>
               <tr>
                  <td>
                      Make filename graph:  
                  </td>
                  <td>
                      <%= check_box_tag( :make_filename_graph.to_la, '1', params[:make_filename_graph] ) %>    
                  </td>
               </tr>
               <tr>
                  <td>
                      Print status report:
                  </td>
                  <td>
                      <%= check_box_tag( :print_status_report.to_la, '1', params[:print_status_report] ) %>    
                  </td>
               </tr>
               </table>      
            </td>
            <td rowspan="3">
               <table border="0" class="userfiles">
                  <tr>
                     <td>
                        Interpolation:
                     </td>
                     <td>
                        <select name="<%= :interp.to_la %>">
                          <%= options_for_select(
                            [ "trilinear", "tricubic", "sinc" ],
                            params[:interp])
                          %>
                          </select>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        N3 distance:
                     </td>
                     <td>
                        <%= text_field_tag :N3_distance.to_la, params[:N3_distance]   %>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        Number of parameters transformation for linear registration:
                     </td>
                     <td>
                        <select name="<%= :lsq.to_la %>">
                          <%= options_for_select(
                            [ "6", "9", "12" ],
                            params[:lsq])
                          %>
                          </select>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        Do NOT build surfaces:
                     </td>
                     <td>
                         <%= check_box_tag( :no_surfaces.to_la, '1', params[:no_surfaces] ) %>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        Thickness method and kernel size:       
                     </td>
                     <td>
                        <select name="<%= :thickness_method.to_la %>">
                          <%= options_for_select(
                            [ "tnormal", "tlink", "tlaplace", "tnear" ],
                            params[:thickness_method])
                          %>
                          </select>
                          <%= text_field_tag :thickness_kernel.to_la, params[:thickness_kernel]   %>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        Resample surfaces:
                     </td>
                     <td>
                        <%= check_box_tag( :resample_surfaces.to_la, '1', params[:resample_surfaces] ) %>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        Combine surfaces:
                     </td>
                     <td>
                        <%= check_box_tag( :combine_surfaces.to_la, '1', params[:combine_surfaces] ) %>
                     </td>
                  </tr>
                </table>
            </td>
            </tr>

            <tr>
               <th>Pipeline Options</th>
            </tr>
            <tr class="list-even">
            <td>
               <table border="0" class="userfiles">
                  <tr>
                     <td>
                        Template:
                     </td>
                     <td>
                        <select name="<%= :template.to_la %>">
                          <%= options_for_select(
                            [ "0.50", "0.75", "1.00", "1.50", "2.00", "3.00", "4.00", "6.00" ],
                            params[:template])
                          %>
                          </select>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        Model:
                     </td>
                     <td>
                        <select name="<%= :model.to_la %>">
                          <%= options_for_select(
                            [ "icbm152lin", "icbm152nl" ],
                            params[:model])
                          %>
                          </select>
                     </td>
                  </tr>
                </table>
            </td>
            </tr>


            <tr>
               <th COLSPAN="1">VBM Options</th>
               <th>(this space for rent)</th>
            </tr>

            <tr class="list-even">
            <td COLSPAN="1">
               <table border="0" class="userfiles">
                  <tr>
                     <td>
                        Process VBM files:
                     </td>
                     <td>
                        <%= check_box_tag( :VBM.to_la, '1', params[:VBM] ) %>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        Blurring kernel size in mm for volume:
                     </td>
                     <td>
                        <%= text_field_tag :VBM_fwhm.to_la, params[:VBM_fwhm], :size => 4 %>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        Run symmetry tools:
                     </td>
                     <td>
                        <%= check_box_tag( :VBM_symmetry.to_la, '1', params[:VBM_symmetry] ) %>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        Keep cerebellum in VBM maps:
                     </td>
                     <td>
                        <%= check_box_tag( :VBM_cerebellum.to_la, '1', params[:VBM_cerebellum] ) %>
                     </td>
                  </tr>
               </table>
            </td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(See your ad here!)</td>
            </tr>

         </table>




         <hr>

         <% if params[:collection_id] %>
           <big>MINC file input list for collection <em><%= Userfile.find(params[:collection_id]).name %></em></big>
         <% else %>
           <big>MINC file input list</big>
         <% end %>

         <br>

         <table class="civet_options">
            <tr>
              <th>Launch CIVET?</th>
              <th>T1 name</th>
              <th>Prefix</th>
              <th>Subject ID</th>
              <th>T2 found?</th>
              <th>PD found?</th>
              <th>Mask found?</th>
              <th>Use multispectral?</th>
              <th>Use mask?</th>
            </tr>
            <% params[:file_args].each_with_index do |file,idx| %>
               <% if params[:collection_id] %>
                 <%= render :partial => 'tasks/cbrain_task/civet_file_from_col',  :locals  => {:file  => file, :idx => idx, :disabled => !@task.new_record? } %>
               <% else %>
                 <%= render :partial => 'tasks/cbrain_task/civet_file_from_list', :locals  => {:file  => file, :idx => idx, :disabled => !@task.new_record? } %>
               <% end %>
            <% end %>
         </table>



         <% if @task.new_record? %>

         <hr>

         <BIG>Optional post-Civet operations</BIG><P>

         Combine CIVET results into a CivetStudy named: <%= text_field_tag :study_name.to_la %> then <%= check_box_tag :qc_study.to_la, 1 %> launch Claude's QC script on that CivetStudy.<br>

         <% end %>




         <% if current_user.has_role?(:admin) %>
           <hr>
           <BIG>Fake run:</BIG><P>
           Enter the numeric ID of a pre-existing CivetCollection to use it as 'pretend' output:
           <%= text_field_tag "fake_run_civetcollection_id" %>
           <P>
         <% end %>

