
<%= form.params_hidden_field :collection_id %> <!-- can be nil -->

<fieldset>
<legend>Pipeline Options</legend>

  <label title="Define the template for image processing">Template:</label>
  <select name="<%= :template.to_la %>">
    <%= options_for_select(
          [ "0.50", "0.75", "1.00", "1.50", "2.00", "3.00", "4.00", "6.00" ],
          params[:template])
    %>
  </select>

  <br>

  <label title="Define the model for image-processing">Model:</label>
  <select name="<%= :model.to_la %>">
    <%= options_for_select(
          [ "icbm152lin", "icbm152nl" ],
          params[:model])
    %>
  </select>

  <% if ! @task.new_record? %>

  <br>

  <label title="Stage to restart from">Restart from this stage:</label>
  <select name="<%= :reset_from.to_la %>">
    <%= options_for_select(
          [ "" ] + CbrainTask::Civet::StagesNames,
          params[:reset_from])
    %>
  </select>
  <% end %>

</fieldset>

<P>

<fieldset>
<legend>CIVET options</legend>

  <label title="Interpolation method from native to stereotaxic space (trilinear, tricubic, sinc) default trilinear">Interpolation:</label>
  <select name="<%= :interp.to_la %>">
  <%= options_for_select(
        [ "trilinear", "tricubic", "sinc" ],
        params[:interp])
  %>
  </select>

  <br>

  <label title="N3 spline distance in mm (suggested values: 200 for 1.5T scan; 25 for 3T scan) default: 200">N3 distance:</label>
  <%= form.params_text_field :N3_distance, :size => 4 %>

  <br>

  <label title="Number of parameters transformation for linear registration">Number of parameters transformation for linear registration:</label>
  <select name="<%= :lsq.to_la %>">
  <%= options_for_select(
        [ "6", "9", "12" ],
        params[:lsq])
  %>
  </select>

  <br>

  <label title="Do NOT build surfaces">Do NOT build surfaces:</label>
  <%= form.params_check_box :no_surfaces %>

  <br>

  <label title="Thickness method and kernel size">Thickness method and kernel size:</label>
  <select name="<%= :thickness_method.to_la %>">
  <%= options_for_select(
        [ "tnormal", "tlink", "tlaplace", "tnear" ],
        params[:thickness_method])
  %>
  </select>
  <%= form.params_text_field :thickness_kernel, :size => 4 %>

  <br>

  <label title="Resample cortical surfaces">Resample surfaces:</label>
  <%= form.params_check_box :resample_surfaces %>

  <br>

  <label title="Combine left and right cortical surfaces">Combine surfaces:</label>
  <%= form.params_check_box :combine_surfaces %>

</fieldset>

<P>

<fieldset>
<legend>VBM Options</legend>

  <label title="Process VBM files">Process VBM files:</label>
  <%= form.params_check_box :VBM %>

  <br>

  <label title="Blurring kernel size in mm for volume">Blurring kernel size in mm for volume:</label>
  <%= form.params_text_field :VBM_fwhm, :size => 4 %>

  <br>

  <label title="Run symmetry tools">Run symmetry tools:</label>
  <%= form.params_check_box :VBM_symmetry %>

  <br>

  <label title="Keep cerebellum in VBM maps">Keep cerebellum in VBM maps:</label>
  <%= form.params_check_box :VBM_cerebellum %>

</fieldset>

<P>

<fieldset>

<% if ! params[:collection_id].blank? %>
 <legend>MINC file input list for collection <em><%= Userfile.find(params[:collection_id]).name %></em></legend>
<% else %>
 <legend>MINC file input list</legend>
<% end %>

<table class="simple">
  <tr>
    <th>Launch CIVET?</th>
    <th>T1 name</th>
    <th>Prefix</th>
    <th>Subject ID</th>
    <th>T2 found?</th>
    <th>PD found?</th>
    <th>Mask found?</th>
    <th title="Use T1, T2 and PD native files for tissue classification">Use multispectral?</th>
    <th>Use mask?</th>
  </tr>
  <% 
    keys = params[:file_args].keys
    keys = keys.sort_by{ |k| params[:file_args][k][:t1_name] || ""}
   %>
  <% keys.each do |idx| %>
    <% file = params[:file_args][idx] %>
     <% if ! params[:collection_id].blank? %>
       <%= render :partial => 'tasks/cbrain_task/civet_file_from_col',  :locals  => {:file  => file, :idx => idx, :disabled => !@task.new_record? } %>
     <% else %>
       <%= render :partial => 'tasks/cbrain_task/civet_file_from_list', :locals  => {:file  => file, :idx => idx, :disabled => !@task.new_record? } %>
     <% end %>
  <% end %>
</table>

</fieldset>


<% if @task.new_record? %>

<P>

<hr>

<BIG>Optional post-CIVET operations</BIG><P>

Combine CIVET results into a CivetStudy named: <%= form.params_text_field :study_name %> then <%= form.params_check_box :qc_study %> launch Claude's QC script on that CivetStudy.<br>

<% end %>




<% if current_user.has_role?(:admin) %>
 <hr>
 <BIG>Fake run:</BIG><P>
 Enter the numeric ID of a pre-existing CivetCollection to use it as 'pretend' output:
 <%= form.params_text_field :fake_run_civetcollection_id %>

<% end %>

