
<tr>

<td><%= check_box_tag( "cbrain_task[params][file_args][#{idx}][launch]", '1', file[:launch], :class => 'launch_it', :disabled => disabled ) %></td>

<td>
  <%= h(file[:t1_name]) %>
  <%= hidden_field_tag "cbrain_task[params][file_args][#{idx}][t1_name]", file[:t1_name], :disabled => disabled %>
  <%= hidden_field_tag "cbrain_task[params][file_args[#{idx}][t2_name]", file[:t2_name], :disabled => disabled %>
  <%= hidden_field_tag "cbrain_task[params][file_args][#{idx}][pd_name]", file[:pd_name], :disabled => disabled %>
  <%= hidden_field_tag "cbrain_task[params][file_args][#{idx}][mk_name]", file[:mk_name], :disabled => disabled %>
</td>

<td><%= text_field_tag "cbrain_task[params][file_args][#{idx}][prefix]", file[:prefix], :disabled => disabled %></td>
<td><%= text_field_tag "cbrain_task[params][file_args][#{idx}][dsid]",   file[:dsid], :disabled => disabled   %></td>

<% if file[:t2_name].blank? %>
  <td><FONT COLOR="red">&times;</FONT></td>
<% else %>
  <td><FONT COLOR="green">&#10004;</FONT></td>
<% end %>

<% if file[:pd_name].blank? %>
  <td><FONT COLOR="red">&times;</FONT></td>
<% else %>
  <td><FONT COLOR="green">&#10004;</FONT></td>
<% end %>

<% if file[:mk_name].blank? %>
  <td><FONT COLOR="red">&times;</FONT></td>
<% else %>
  <td><FONT COLOR="green">&#10004;</FONT></td>
<% end %>

<% if file[:t2_name].blank? && file[:pd_name].blank? %>
  <td></td>
<% else %>
  <td>
    <%= check_box_tag( "cbrain_task[params][file_args][#{idx}][multispectral]", '1', file[:multispectral], :disabled => disabled ) %>
  </td>
<% end %>

<% if file[:mk_name].blank? %>
  <td></td>
<% else %>
  <td><%= check_box_tag( "cbrain_task[params][file_args][#{idx}][spectral_mask]", '1', file[:spectral_mask], :disabled => disabled ) %></td>
<% end %>

</tr>

