
<%

#
# CBRAIN Project
#
# $Id$
#

-%>

<tr>

<td><%= check_box_tag( "cbrain_task[params][file_args][#{idx}][launch]", '1', file[:launch], :disabled => disabled ) %></td>

<td>
  <%= h(file[:t1_name]) %>
  <%= hidden_field_tag "cbrain_task[params][file_args][#{idx}][t1_name]", file[:t1_name], :disabled => disabled %>
  <%= hidden_field_tag "cbrain_task[params][file_args[#{idx}][t2_name]", file[:t2_name], :disabled => disabled %>
  <%= hidden_field_tag "cbrain_task[params][file_args][#{idx}][pd_name]", file[:pd_name], :disabled => disabled %>
  <%= hidden_field_tag "cbrain_task[params][file_args][#{idx}][mk_name]", file[:mk_name], :disabled => disabled %>
</td>

<td><%= text_field_tag "cbrain_task[params][file_args][#{idx}][prefix]", file[:prefix], :disabled => disabled %></td>
<td><%= text_field_tag "cbrain_task[params][file_args][#{idx}][dsid]",   file[:dsid], :disabled => disabled   %></td>

<% if file[:t2_name] %>
  <td><FONT COLOR="green">&#10004;</FONT></td>
<% else %>
  <td><FONT COLOR="red">&times;</FONT></td>
<% end %>

<% if file[:pd_name] %>
  <td><FONT COLOR="green">&#10004;</FONT></td>
<% else %>
  <td><FONT COLOR="red">&times;</FONT></td>
<% end %>

<% if file[:mk_name] %>
  <td><FONT COLOR="green">&#10004;</FONT></td>
<% else %>
  <td><FONT COLOR="red">&times;</FONT></td>
<% end %>

<% if file[:t2_name] || file[:pd_name] %>
  <td><span title="Use T1, T2 and PD native files for tissue classification"><%= check_box_tag( "cbrain_task[params][file_args][#{idx}][multispectral]", '1', file[:multispectral], :disabled => disabled ) %></td>
<% else %>
  <td></td>
<% end %>

<% if file[:mk_name] %>
  <td><%= check_box_tag( "cbrain_task[params][file_args][#{idx}][spectral_mask]", '1', file[:spectral_mask], :disabled => disabled ) %></td>
<% else %>
  <td></td>
<% end %>

</tr>
