
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% before_2_0_0  = !@tool_config || !@tool_config.is_at_least_version("2.0.0") %>

<STRONG>Input:</STRONG>

<BR>
<UL>
<% params[:interface_userfile_ids].each do |id| %>
  <LI>Userfile: <%= link_to_userfile_if_accessible id %></LI>
<% end %>
</UL>

<P>

Voxel type: <%= h(params[:voxel_type]) %>
<% if params[:voxel_type] =~ /byte|short|int/ %>
<%= h(params[:voxel_int_signity]) %>
<% end %>
<P>

<% if before_2_0_0 %>
  Space ordering: <%= h(params[:space_ordering]) %>

  <% flip_order = params[:flip_order] || "" %>
  <% flipped = flip_order.each_char.select { |c| c =~ /[xyz]/i } %>
  <% if flipped.size > 0 %>
  with these axis flipper in order: <%= flipped.map(&:upcase).join(", ") %>.
  <% else %>
  with no flipping of any axis.
  <% end %>

  <P>
  Cosines rectified with <em>minc_modify_header</em>: <%= params[:rectify_cosines] == "1" ? "Yes" : "No" %>

  <P>
<% end %>

<STRONG>Output Minc File:</STRONG>
<%= link_to_userfile_if_accessible params[:output_mincfile_id] %></LI>

