
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2022
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<%= stylesheet_link_tag    MincFile.public_path("stylesheets/volume_viewer.css").to_s, :media => "all" %>
<%= javascript_include_tag MincFile.public_path("javascripts/brainbrowser.volume-viewer.min.js").to_s %>

<% bb_identifier = @userfile.id %>
<% bb_identifier = bb_identifier.to_s + @target if @target.present? %>

<%
  list_fake_files         = Userfile.find(@userfile.id).list_fake_files rescue [@userfile]
  volumes_info_for_viewer = {}

  list_fake_files.each do |file|
    viewer = file.viewers.first.partial rescue nil
    next if viewer.blank?
    next if viewer != :volume_viewer
    url    = nil
    volume = nil

    if    file.is_a?(MincFile)
      url = content_userfile_path(file, :content_loader => :minc_content, :file_name => file.name, :viewer_userfile_class => :MincFile)
    elsif file.is_a?(NiftiFile)
      url = content_userfile_path(file, :content_loader => :raw_content, :file_name => file.name, :viewer_userfile_class => :NiftiFile)
    elsif
      url = content_userfile_path(file, :content_loader => :raw_content, :file_name => file.name, :viewer_userfile_class => :MghFile)
    end

    volume = file.to_BrainBrowser_volume(url) if url
    next if !volume
    volume[:template] = { element_id:          "volume-ui-template",
                          viewer_insert_class: "volume-viewer-display"
                        }

    volumes_info_for_viewer[file.name] = volume
  end

  viewable_by_volume_viewer = volumes_info_for_viewer.keys
%>

<% json = lambda { |x| JSON[x].html_safe } %>

<div id="brainbrowser-volume-<%= bb_identifier %>"></div>

<div id="global-controls-<%= bb_identifier %>" class="volume-viewer-controls">
  <div id="loading-<%= bb_identifier %>" style="display: none"><img src="/images/brainbrowser-loader.gif" /></div>
  <div id="overlay-selection" >
    <% if viewable_by_volume_viewer.present? && viewable_by_volume_viewer.size > 1 %>
      Volume to overlay:
      <select id="overlay_selection">
        <%= options_for_select viewable_by_volume_viewer %>
      </select>
      <br>
      <span class="warning">This is an experimental feature, it is based on the ability of BrainBrowser volume viewer to overlay 2 volumes</span>
    <% end %>
  </div>
  <br>
  <button id="brainbrowser_volume_screenshot-<%= bb_identifier %>">Screenshot</button>
</div>


<%-
######################
# Volume UI template #
######################
-%>

<script id="volume-ui-template" type="x-volume-ui-template">
  <div id="brainbrowser-wrapper-<%= bb_identifier %>-{{VOLID}}">
    <div id="volume-viewer-<%= bb_identifier %>-{{VOLID}}">

      <fieldset><legend><%= @userfile.name %></legend>
      <div class="volume-viewer-display"></div>
      <div class="volume-viewer-controls volume-controls">
        <div class="coords">
          <div class="control-heading" id="voxel-coordinates-heading-<%= bb_identifier %>-{{VOLID}}">
            Voxel Coordinates:
          </div>
          <div id="voxel-coords-<%= bb_identifier %>-{{VOLID}}" class="voxel-coords" data-volume-id="<%= bb_identifier %>-{{VOLID}}">
            I:<input id="voxel-i-<%= bb_identifier %>-{{VOLID}}" size="8" class="control-inputs">
            J:<input id="voxel-j-<%= bb_identifier %>-{{VOLID}}" size="8" class="control-inputs">
            K:<input id="voxel-k-<%= bb_identifier %>-{{VOLID}}" size="8" class="control-inputs">
          </div>
          <div class="control-heading" id="world-coordinates-heading-<%= bb_identifier %>-{{VOLID}}">
            World Coordinates:
          </div>
          <div id="world-coords-<%= bb_identifier %>-{{VOLID}}" class="world-coords" data-volume-id="<%= bb_identifier %>-{{VOLID}}">
            X:<input id="world-x-<%= bb_identifier %>-{{VOLID}}" size="8" class="control-inputs">
            Y:<input id="world-y-<%= bb_identifier %>-{{VOLID}}" size="8" class="control-inputs">
            Z:<input id="world-z-<%= bb_identifier %>-{{VOLID}}" size="8" class="control-inputs">
          </div>
        </div>

        <div id="intensity-value-div-<%= bb_identifier %>-{{VOLID}}">
          <span class="control-heading" data-volume-id="<%= bb_identifier %>-{{VOLID}}">
            Value:
          </span>
          <span id="intensity-value-<%= bb_identifier %>-{{VOLID}}" class="intensity-value"></span>
        </div>


        <div id="color-map-<%= bb_identifier %>-{{VOLID}}">
          <span class="control-heading" id="color-map-heading-<%= bb_identifier %>-{{VOLID}}">
            Color Map:
          </span>
        </div>


        <div id="threshold-div-<%= bb_identifier %>-{{VOLID}}" class="threshold-div" data-volume-id="<%= bb_identifier %>-{{VOLID}}">
          <div class="control-heading">
            Threshold:
          </div>
          <br>
          <div class="thresh-inputs">
            <input id="min-threshold-<%= bb_identifier %>-{{VOLID}}" class="control-inputs thresh-input-left"  value="0"/>
            <input id="max-threshold-<%= bb_identifier %>-{{VOLID}}" class="control-inputs thresh-input-right" value="255"/>
          </div>
          <div class="slider volume-viewer-threshold" id="threshold-slider-<%= bb_identifier %>-{{VOLID}}"></div>
        </div>

        <div id="time-<%= bb_identifier %>-{{VOLID}}" class="time-div" data-volume-id="<%= bb_identifier %>-{{VOLID}}" style="display:none">
          <span class="control-heading">Time:</span>
          <input class="control-inputs" value="0" id="time-val-<%= bb_identifier %>-{{VOLID}}"/>
          <div class="slider volume-viewer-threshold" id="threshold-time-slider-<%= bb_identifier %>-{{VOLID}}"></div>
          <br>
          <input type="checkbox" class="button" id="play-<%= bb_identifier %>-{{VOLID}}"><label for="play-<%= bb_identifier %>-{{VOLID}}">Play</label>
        </div>

        <div id="slice-series-<%= bb_identifier %>-{{VOLID}}" class="slice-series-div" data-volume-id="0">
          <div class="control-heading" id="slice-series-heading-<%= bb_identifier %>-{{VOLID}}">All slices: </div>
          <span class="slice-series-button button" data-axis="xspace">Sagittal</span>
          <span class="slice-series-button button" data-axis="yspace">Coronal</span>
          <span class="slice-series-button button" data-axis="zspace">Transverse</span>
        </div>

      </div>
    </div>
  </div>
</script>

<%-
#######################
# Overlay UI template #
#######################
-%>

<script id="overlay-ui-template" type="x-volume-ui-template">
  <fieldset>
    <legend>Overlay</legend>
    <div class="overlay-viewer-display">
    </div>
    <div class="volume-viewer-controls volume-controls">

      <div class="blend-div" data-volume-id="<%= bb_identifier %>-{{VOLID}}>
        <span class="control-heading">Blend (0.0 to 1.0):</span>
        <input class="control-inputs" value="0.5" id="blend-val"/>
        <div id="blend-slider" class="slider volume-viewer-blend"></div>
      </div>

      <div class="contrast-div" data-volume-id="<%= bb_identifier %>-{{VOLID}}">
        <span class="control-heading" id="contrast-heading-">Contrast (0.0 to 2.0):</span>
        <input class="control-inputs" value="1.0" id="contrast-val"/>
        <div id="contrast-slider" class="slider volume-viewer-contrast"></div>
      </div>

      <div class="brightness-div" data-volume-id="{{VOLID}}">
        <span class="control-heading" id="brightness-heading{{VOLID}}">Brightness (-1 to 1):</span>
        <input class="control-inputs" value="0" id="brightness-val"/>
        <div id="brightness-slider" class="slider volume-viewer-brightness"></div>
      </div>

    </div>
  </fieldset>
</script>

<script type="text/javascript">

  BrainBrowser.VolumeViewer.start("brainbrowser-volume-<%= bb_identifier %>", function(viewer) {
    var loading_div = $("#loading-<%= bb_identifier %>");

    BrainBrowser.config.set("color_maps", [
      {
        name: "Gray",
        url: "<%= MincFile.public_path("color_maps/gray-scale.txt") %>",
        cursor_color: "#FF0000"
      },
      {
        name: "Spectral",
        url: "<%= MincFile.public_path("color_maps/spectral-brainview.txt") %>",
        cursor_color: "#FFFFFF"
      },
    ]);

    viewer.addEventListener("volumeuiloaded", function(event) {
      var container = event.container;
      container = $(container);
      var volume    = event.volume;
      var vol_id    = event.volume_id;

      $(".button").button();

      // The world coordinate input fields.
      $("#world-coords-<%= bb_identifier %>-" + vol_id).change(function() {
        var div = $(this);

        var x = parseFloat(div.find("#world-x-<%= bb_identifier %>-" + vol_id).val());
        var y = parseFloat(div.find("#world-y-<%= bb_identifier %>-" + vol_id).val());
        var z = parseFloat(div.find("#world-z-<%= bb_identifier %>-" + vol_id).val());

        // Make sure the values are numeric.
        if (!BrainBrowser.utils.isNumeric(x)) {
          x = 0;
        }
        if (!BrainBrowser.utils.isNumeric(y)) {
          y = 0;
        }
        if (!BrainBrowser.utils.isNumeric(z)) {
          z = 0;
        }

        // Set coordinates and redraw.
        viewer.volumes[vol_id].setWorldCoords(x, y, z);

        viewer.redrawVolumes();
      });

      // The voxel coordinate input fields.
      $("#voxel-coords-<%= bb_identifier %>-" + vol_id).change(function() {
        var div = $(this);

        var i = parseInt(div.find("#voxel-i-<%= bb_identifier %>-" + vol_id).val(), 10);
        var j = parseInt(div.find("#voxel-j-<%= bb_identifier %>-" + vol_id).val(), 10);
        var k = parseInt(div.find("#voxel-k-<%= bb_identifier %>-" + vol_id).val(), 10);

        // Make sure the values are numeric.
        if (!BrainBrowser.utils.isNumeric(i)) {
          i = 0;
        }
        if (!BrainBrowser.utils.isNumeric(j)) {
          j = 0;
        }
        if (!BrainBrowser.utils.isNumeric(k)) {
          k = 0;
        }

        // Set coordinates and redraw.
        viewer.volumes[vol_id].setVoxelCoords(i, j, k);

        viewer.redrawVolumes();
      });

      // Color map URLs are read from the config file and added to the
      // color map select box.
      var color_map_select = $('<select id="color-map-select"></select>').change(function() {
        var selection = $(this).find(":selected");
        viewer.loadVolumeColorMapFromURL(vol_id, selection.val(), selection.data("cursor-color"), function() {
          viewer.redrawVolumes();
        });
      });

      BrainBrowser.config.get("color_maps").forEach(function(color_map) {
        color_map_select.append('<option value="' + color_map.url +
          '" data-cursor-color="' + color_map.cursor_color + '">' +
          color_map.name +'</option>'
        );
      });

      $("#color-map-<%= bb_identifier %>-" + vol_id).append(color_map_select);

      // Change the range of intensities that will be displayed.
      $("#threshold-div-<%= bb_identifier %>-" + vol_id).each(function() {
        var div = $(this);

        // Input fields to input min and max thresholds directly.
        var min_input = div.find("#min-threshold-<%= bb_identifier %>-" + vol_id);
        var max_input = div.find("#max-threshold-<%= bb_identifier %>-" + vol_id);

        // Slider to modify min and max thresholds.
        var slider = div.find("#threshold-slider-<%= bb_identifier %>-" + vol_id);

        var volume = viewer.volumes[vol_id];

        // Update the input fields.
        min_input.val(volume.getVoxelMin());
        max_input.val(volume.getVoxelMax());

        slider.slider({
          range: true,
          min: volume.getVoxelMin(),
          max: volume.getVoxelMax(),
          values: [volume.getVoxelMin(), volume.getVoxelMax()],
          step: 1,
          slide: function(event, ui){
            var values = ui.values;

            // Update the input fields.
            min_input.val(values[0]);
            max_input.val(values[1]);

            // Update the volume and redraw.
            volume.intensity_min = values[0];
            volume.intensity_max = values[1];
            viewer.redrawVolumes();
          },
          stop: function() {
            $(this).find("a").blur();
          }
        });

        // Input field for minimum threshold.
        min_input.change(function() {
          var value = parseFloat(this.value);

          // Make sure input is numeric and in range.
          if (!BrainBrowser.utils.isNumeric(value)) {
            value = volume.getVoxelMin();
          }
          value = Math.max(volume.getVoxelMin(),
                           Math.min(value, volume.getVoxelMax()));
          this.value = value;

          // Update the slider.
          slider.slider("values", 0, value);

          // Update the volume and redraw.
          volume.intensity_min = value;
          viewer.redrawVolumes();
        });

        max_input.change(function() {
          var value = parseFloat(this.value);

          // Make sure input is numeric and in range.
          if (!BrainBrowser.utils.isNumeric(value)) {
            value = volume.getVoxelMax();
          }
          value = Math.max(volume.getVoxelMin(),
                           Math.min(value, volume.getVoxelMax()));
          this.value = value;

          // Update the slider.
          slider.slider("values", 1, value);

          // Update the volume and redraw.
          volume.intensity_max = value;
          viewer.redrawVolumes();
        });

      });


      if (volume.header.time) {
        $("#time-<%= bb_identifier %>-" + vol_id).each(function() {
          var div = $(this);

          if (volume.header.time) {
            div.show();
          } else {
            return;
          }

          var slider      = div.find("#threshold-time-slider-<%= bb_identifier %>-" + vol_id);
          var time_input  = div.find("#time-val-<%= bb_identifier %>-" + vol_id);
          var play_button = div.find("#play-<%= bb_identifier %>-" + vol_id);

          var min = 0;
          var max = volume.header.time.space_length - 1;
          var play_interval;

          slider.slider({
            min: min,
            max: max,
            value: 0,
            step: 1,
            slide: function(event, ui) {
              var value = +ui.value;
              time_input.val(value);
              volume.current_time = value;
              viewer.redrawVolumes();
            },
            stop: function() {
              $(this).find("a").blur();
            }
          });

          time_input.change(function() {
            var value = parseInt(this.value, 10);
            if (!BrainBrowser.utils.isNumeric(value)) {
              value = 0;
            }

            value = Math.max(min, Math.min(value, max));

            this.value = value;
            time_input.val(value);
            slider.slider("value", value);
            volume.current_time = value;
            viewer.redrawVolumes();
          });

          play_button.change(function() {
            if(play_button.is(":checked")){
              clearInterval(play_interval);
              play_interval = setInterval(function() {
                var value = volume.current_time + 1;
                value = value > max ? 0 : value;
                volume.current_time = value;
                time_input.val(value);
                slider.slider("value", value);
                viewer.redrawVolumes();
              }, 200);
            } else {
              clearInterval(play_interval);
            }
          });

        });

      }

      // Create an image of all slices in a certain orientation.
      $("#slice-series-<%= bb_identifier %>-" + vol_id).each(function() {
        var div = $(this);

        var space_names = {
          xspace: "Sagittal",
          yspace: "Coronal",
          zspace: "Transverse"
        };

        div.find(".slice-series-button").click(function() {
          var axis_name    = $(this).data("axis");
          var axis         = volume.header[axis_name];
          var space_length = axis.space_length;
          var time         = volume.current_time;
          var per_column   = 10;
          var zoom         = 0.5;
          var i, x, y;

          // Canvas on which to draw the images.
          var canvas  = document.createElement("canvas");
          var context = canvas.getContext("2d");

          // Get first slice to set dimensions of the canvas.
          var image_data = volume.getSliceImage(volume.slice(axis_name, 0, time), zoom);
          var img = new Image();
          canvas.width = per_column * image_data.width;
          canvas.height = Math.ceil(space_length / per_column) * image_data.height;
          context.fillStyle = "#000000";
          context.fillRect(0, 0, canvas.width, canvas.height);

          // Draw the slice on the canvas.
          context.putImageData(image_data, 0, 0);

          // Draw the rest of the slices on the canvas.
          for (i = 1; i < space_length; i++) {
            image_data = volume.getSliceImage(volume.slice(axis_name, i, time), zoom);
            x = i % per_column * image_data.width;
            y = Math.floor(i / per_column) * image_data.height;
            context.putImageData(image_data, x, y);
          }

          // Retrieve image from canvas and display it
          // in a dialog box.
          img.onload = function() {
            $("<div></div>").append(img).dialog({
              title: space_names[axis_name] + " Slices",
              height: 600,
              width: img.width
            });
          };

          img.src = canvas.toDataURL();
        });
      });

      $("#brainbrowser_volume_screenshot-<%= bb_identifier %>").click(function() {
        var width        = 0;
        var height       = 0;
        var active_panel = viewer.active_panel;

        // Create a canvas on which we'll draw the images.
        var canvas  = document.createElement("canvas");
        var context = canvas.getContext("2d");
        var img     = new Image();

        viewer.volumes.forEach(function(volume) {
          volume.display.forEach(function(panel) {
            width   = Math.max(width,  panel.canvas.width);
            height  = Math.max(height, panel.canvas.height);
          });
        });

        canvas.width      = width * viewer.volumes.length;
        canvas.height     = height * 3;
        context.fillStyle = "#000000";
        context.fillRect(0, 0, canvas.width, canvas.height);

        // The active canvas is highlighted by the viewer,
        // so we set it to null and redraw the highlighting
        // isn't shown in the image.
        if (active_panel) {
          active_panel.updated = true;
          viewer.active_panel  = null;
          viewer.draw();
        }

        viewer.volumes.forEach(function(volume, x) {
          volume.display.forEach(function(panel, axis_name, y) {
            context.drawImage(panel.canvas, x * width, y * height);
          });
        });

        // Restore the active canvas.
        if (active_panel) {
          active_panel.updated = true;
          viewer.active_panel  = active_panel;
          viewer.draw();
        }

        // Show the created image in a dialog box.
        img.onload = function() {
          $("<div></div>").append(img).dialog({
            title: "Slices",
            height: img.height,
            width:  img.width
          });
        };

        img.src = canvas.toDataURL();
      });

      $(document).ready(function(){
        $("#overlay_selection").chosen().change(function(e){
          var volume_name = e.target.value;
          var volumes_info_for_viewer =  <%= json.( volumes_info_for_viewer ) %>;
          var volume_0 = volumes_info_for_viewer["<%= @userfile.name %>"];
          var volume_1 = volumes_info_for_viewer[volume_name];

          loading_div.show();
          viewer.clearVolumes();
          viewer.loadVolumes({
            volumes: [volume_0, volume_1],
            overlay: {
              template: {
                element_id: "overlay-ui-template",
                viewer_insert_class: "overlay-viewer-display"
              }
            },
            complete: function() {
              loading_div.hide();
              $("#overlay-selection").hide();
              $("#brainbrowser-wrapper").slideDown({duration: 600});

              var volume_viewer_1 = $("#volume-viewer-" + <%= bb_identifier %> + "-1");

              if (volume_viewer_1 !== undefined ) {
                if (volume_viewer_1 && volume_viewer_1[0].children[0] && volume_viewer_1[0].children[0].children[0]) {
                  volume_viewer_1[0].children[0].children[0].innerText = volume_name;
                }
              }
            }
          });
        });
      })

      // Blend controls for a multivolume overlay.
      container.find(".blend-div").each(function() {
        var div         = $(this);
        var slider      = div.find(".slider");
        var blend_input = div.find("#blend-val");

        // Slider to select blend value.
        slider.slider({
          min: 0,
          max: 1,
          step: 0.01,
          value: 0.5,
          slide: function(event, ui) {
            var value = parseFloat(ui.value);
            volume.blend_ratios[0] = 1 - value;
            volume.blend_ratios[1] = value;



            blend_input.val(value);
            viewer.redrawVolumes();
          },
          stop: function() {
            $(this).find("a").blur();
          }
        });

        // Input field to select blend values explicitly.
        blend_input.change(function() {
          var value = parseFloat(this.value);

          // Check that input is numeric and in range.
          if (!BrainBrowser.utils.isNumeric(value)) {
            value = 0;
          }
          value = Math.max(0, Math.min(value, 1));
          this.value = value;

          // Update slider and redraw volumes.
          slider.slider("value", value);
          volume.blend_ratios[0] = 1 - value;
          volume.blend_ratios[1] = value;
          viewer.redrawVolumes();
        });
      });

            // Contrast controls
      container.find(".contrast-div").each(function() {
        var div            = $(this);
        var slider         = div.find(".slider");
        var contrast_input = div.find("#contrast-val");

        // Slider to select contrast value.
        slider.slider({
          min: 0,
          max: 2,
          step: 0.05,
          value: 1,
          slide: function(event, ui) {
            var value = parseFloat(ui.value);
            volume.display.setContrast(value);
            volume.display.refreshPanels();

            contrast_input.val(value);
          },
          stop: function() {
            $(this).find("a").blur();
          }
        });

        // Input field to select contrast values explicitly.
        contrast_input.change(function() {
          var value = parseFloat(this.value);

          // Check that input is numeric and in range.
          if (!BrainBrowser.utils.isNumeric(value)) {
            value = 0;
          }
          value = Math.max(0, Math.min(value, 2));
          this.value = value;

          // Update slider and redraw volumes.
          slider.slider("value", value);
          volume.display.setContrast(value);
          volume.display.refreshPanels();
          viewer.redrawVolumes();
        });
      });

      // Contrast controls
      container.find(".brightness-div").each(function() {
        var div              = $(this);
        var slider           = div.find(".slider");
        var brightness_input = div.find("#brightness-val");

        // Slider to select brightness value.
        slider.slider({
          min: -1,
          max: 1,
          step: 0.05,
          value: 0,
          slide: function(event, ui) {
            var value = parseFloat(ui.value);
            volume.display.setBrightness(value);
            volume.display.refreshPanels();

            brightness_input.val(value);
          },
          stop: function() {
            $(this).find("a").blur();
          }
        });

        // Input field to select brightness values explicitly.
        brightness_input.change(function() {
          var value = parseFloat(this.value);

          // Check that input is numeric and in range.
          if (!BrainBrowser.utils.isNumeric(value)) {
            value = 0;
          }
          value = Math.max(-1, Math.min(value, 1));
          this.value = value;

          // Update slider and redraw volumes.
          slider.slider("value", value);
          volume.display.setBrightness(value);
          volume.display.refreshPanels();
          viewer.redrawVolumes();
        });
      });

    });

    /////////////////////////////////////////////////////
    // UI updates to be performed after each slice update.
    //////////////////////////////////////////////////////
    viewer.addEventListener("sliceupdate", function(event) {
      var panel  = event.target;
      var volume = event.volume;
      var vol_id = panel.volume_id;
      var world_coords, voxel_coords;
      var value;

      if (BrainBrowser.utils.isFunction(volume.getWorldCoords)) {
        world_coords = volume.getWorldCoords();
        $("#world-x-<%= bb_identifier %>-" + vol_id).val(world_coords.x.toPrecision(6));
        $("#world-y-<%= bb_identifier %>-" + vol_id).val(world_coords.y.toPrecision(6));
        $("#world-z-<%= bb_identifier %>-" + vol_id).val(world_coords.z.toPrecision(6));
      }

      if (BrainBrowser.utils.isFunction(volume.getVoxelCoords)) {
        voxel_coords = volume.getVoxelCoords();
        $("#voxel-i-<%= bb_identifier %>-" + vol_id).val(parseInt(voxel_coords.i, 10));
        $("#voxel-j-<%= bb_identifier %>-" + vol_id).val(parseInt(voxel_coords.j, 10));
        $("#voxel-k-<%= bb_identifier %>-" + vol_id).val(parseInt(voxel_coords.k, 10));
      }

      /* Set background color of intensity value to match colormap
      * entry for that value.
      */
      value = volume.getIntensityValue();
      var bg_color = volume.color_map.colorFromValue(value, {
        hex: true,
        min: volume.intensity_min,
        max: volume.intensity_max,
        contrast: panel.contrast,
        brightness: panel.brightness
      });

      /* This function simply takes an input hex background color
      * and returns either "black" or "white" as the appropriate
      * foreground color for text rendered over the background colour.
      * Idea from https://24ways.org/2010/calculating-color-contrast/
      * Equation is from http://www.w3.org/TR/AERT#color-contrast
      */
      function getContrastYIQ(hexcolor) {
        var r = parseInt(hexcolor.substr(0, 2), 16);
        var g = parseInt(hexcolor.substr(2, 2), 16);
        var b = parseInt(hexcolor.substr(4, 2), 16);
        var yiq = ((r * 299) + (g * 587) + (b * 114)) / 1000;
        return (yiq >= 128) ? 'black' : 'white';
      }

      /* Given that the background color has a wide range, use a little
      * cleverness to pick either white or black as the foreground color
      * of the intensity value. This improves readability.
      */
      var fg_color = getContrastYIQ(bg_color);

      $("#intensity-value-<%= bb_identifier %>-" + vol_id)
      .css("background-color", "#" + bg_color)
      .css("color", fg_color)
      .html(Math.floor(value));

      if (volume.data && volume.header.time) {
        $("#time-slider-<%= bb_identifier %>-" + vol_id).slider("option", "value", volume.current_time);
        $("#time-val-<%= bb_identifier %>-" + vol_id).val(volume.current_time);
      }
    });

    var color_map_config = BrainBrowser.config.get("color_maps")[0];

    loading_div.show();

    //////////////////////////////
    // Load the default color map.
    //////////////////////////////
    viewer.loadDefaultColorMapFromURL(color_map_config.url, color_map_config.cursor_color);

    ////////////////////////////////////////
    // Set the size of slice display panels.
    ////////////////////////////////////////
    viewer.setDefaultPanelSize(256, 256);

    ///////////////////
    // Start rendering.
    ///////////////////
    viewer.render();

    /////////////////////
    // Load the volumes.
    /////////////////////

    // The line below inserts as-is a piece of javascript code within the
    // current javascript function. This code will load the content of the
    // volume to be displayed based on the type of the Rails userfile. The
    // code is thus specific to each userfile model that supports being loaded
    // into the brainbrowser viewer. The code is stored in a tiny partial
    // file specific to the class of the userfile, and found in its
    // plugin directory.
    //
    // For example, if @userfile is a MincFile, the partial inserted here
    // comes from:
    //   cbrain-plugins-neuro/userfiles/minc_file/views/_volume_viewer_loader.html.erb
    // For a NiftiFile, the partial inserted here comes from:
    //   cbrain-plugins-neuro/userfiles/nifti_file/views/_volume_viewer_loader.html.erb

    <%= render :file => @userfile.view_path("volume_viewer_loader") %>
  });
</script>
