<%

#
# CBRAIN Project
#
# $Id$
#

-%> 
 
<table class="userfiles">
   <tr>
      <th>Final</th>
      <th>Native</th>
      <th>Surfaces</th>
   </tr>
   <tr class="list-odd">
      <td>
         <%= @userfile.list_final.map{ |file|  check_box_tag('filelist[]', "#{@userfile.name}/final/" + file) + file}.join('<br>') %>
      </td>
      <td>
         <%= @userfile.list_native.map{ |file|  check_box_tag('filelist[]', "#{@userfile.name}/native/" + file) + file}.join('<br>') %>
      </td>
      <td>
         <%= @userfile.list_surfaces.map{ |file|  check_box_tag('filelist[]', "#{@userfile.name}/surfaces/" + file) + file}.join('<br>') %>
      </td>
   </tr>
   <tr>
      <th>Classify</th>
      <th>Thickness</th>
      <th>Verify</th>
   </tr>
   <tr class="list-odd">
      <td>
         <%= @userfile.list_classify.map{ |file|  check_box_tag('filelist[]', "#{@userfile.name}/classify/" + file) + file}.join('<br>') %>
      </td>
      <td>
         <%= @userfile.list_thickness.map{ |file|  check_box_tag('filelist[]', "#{@userfile.name}/thickness/" + file) + file}.join('<br>') %>
      </td>
      <td>
         <%= @userfile.list_verify.map{ |file|  check_box_tag('filelist[]', "#{@userfile.name}/verify/" + file) + file}.join('<br>') %>
      </td>
   </tr>
   <tr>
      <th>Linear Transformations</th>
      <th>Non-linear Transformations</th>
      <th>Surface Transformations</th>
   </tr>
   <tr class="list-odd">
      <td>
         <%= @userfile.list_linear_transforms.map{ |file|  check_box_tag('filelist[]', "#{@userfile.name}/transforms/linear/" + file) + file}.join('<br>') %>
      </td>
      <td>
         <%= @userfile.list_non_linear_transforms.map{ |file|  check_box_tag('filelist[]', "#{@userfile.name}/transforms/nonlinear/" + file) + file}.join('<br>') %>
      </td>
      <td>
         <%= @userfile.list_surfreg_transforms.map{ |file|  check_box_tag('filelist[]', "#{@userfile.name}/transforms/surfreg/" + file) + file}.join('<br>') %>
      </td>
   </tr>
</table>
