
<%
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<div class="no_wrap">

  <!-- Input files -->
  <h4>Input and output</h4></br>
  <STRONG>Reference:</STRONG></br>
  <%= link_to_userfile_if_accessible params[:ref]%></br>
  </p>
  
  <% if params[:mode].present? && params[:mode] == "input_ref"%>
  <STRONG>Input:</STRONG></br>
  <%= link_to_userfile_if_accessible params[:in]%></br>
  <% else %>
    <STRONG>High resolution file: </STRONG></br>
    <%= link_to_userfile_if_accessible params[:high]%></br>
    <STRONG>Low resolution file :</STRONG></br>
    <%= link_to_userfile_if_accessible params[:low]%></br>
  <% end %>
  
  <% if params[:remaining_file_ids].present? && params[:remaining_file_ids].count > 0 %>
    </p>
    <STRONG>Secondary images:</STRONG></br>
    <% params[:remaining_file_ids].each do |id| %>
      <%= link_to_userfile_if_accessible id %></br>
    <%end%>
  
  <%end%>
  </p>
  
  <STRONG>Output file directory:</STRONG></br>
  <%= link_to_userfile_if_accessible params[:outfile_id] %></br>
  </p>
  
  <!-- General options-->
  <h4>General options</h4></br>
  <strong>Model/DOF</strong></br>
  Model/DOF (input to ref) (-dof): <%= params[:dof] || "" %>
  </p>

  <strong>Search</strong></br>
  Search angles:</br>
  X-axis (degrees): min <%= params[:searchrx_min] || "" %> max <%= params[:searchrx_max] || "" %></br>
  Y-axis (degrees): min <%= params[:searchry_min] || "" %> max <%= params[:searchry_max] || "" %></br>
  Z-axis (degrees): min <%= params[:searchrz_min] || "" %> max <%= params[:searchrz_max] || "" %></br>
  </p>

  <strong>Cost function</strong></br>
  Cost (-cost): <%= params[:cost] %></br>
  Number of histogram bins (-bins): <%= params[:bins] || "" %></br>
  </p>
  
  <strong>Interpolation</strong></br>
  Final interpolation method (reslice only) (-interp): <%= params[:interp] || "" %>
  </p>
  
</div>
