
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
%>

<div class="no_wrap">

  <% input_files = Userfile.find(params[:interface_userfile_ids]).map{|u| [u.name,u.id.to_s]}%>
  
  Input file (-in):<%= form.params_select :in,  input_files %></br>
  Reference file (-ref):<%= form.params_select :ref, input_files %></br>
  
  <% number_of_remaining_file = input_files.size - 2 %>
  <% if number_of_remaining_file != 0%>
    Remaining <%=  number_of_remaining_file %> input_file(s) will be used as secondary image.</br>
  <% end %>
  
  Output file (-out):<%= form.params_text_field :out,:size => 20%></br> 
  <small>(Leave blank and it will generate automatically an output name Flirt-{task_number}-{run_number})</small>
  
  </P>
  
  Model/DOF (input to ref) (-dof):
  <%= form.params_select :dof, [ "3", "6", "7", "9", "12" ] %>
                                                  
  </P>
  <strong>Search</strong></br>
  Search Angles:</br>
  X-axis (degrees): 
  min<%= form.params_text_field :searchx_min, :size => 4 %> max<%= form.params_text_field :searchx_max, :size => 4 %></br> 
  Y-axis (degrees): 
  min<%= form.params_text_field :searchy_min, :size => 4 %> max<%= form.params_text_field :searchy_max, :size => 4 %></br> 
  Z-axis (degrees): 
  min<%= form.params_text_field :searchz_min, :size => 4 %> max<%= form.params_text_field :searchz_max, :size => 4 %></br> 
  
  </P>

  <strong>Cost Function</strong></br>
  Cost (-cost):
  <%= form.params_select :cost, [ ["Correlation Ratio","corratio"], ["Mutual Information","mutualinfo"],
                                  ["Normalised Mutual Information","normmi"], ["Normalised Correlation (intra-model)","normcorr"], 
                                  ["Least Squares (intra-model)","leastsq"]] %></br>
  Number of Histogram Bins (-bins):
  <%= form.params_text_field :bins,:size => 5 %></br>
  
  </P>
  <strong>Interpolation</strong></br>
  Final Interpolation Method (Reslice Only) (-interp):
  <%= form.params_select :interp, [ ["Tri-Linear","trilinear"], ["Nearest Neighbour","nearestneighbour"], ["Sinc","sinc"]] %></br>

</div>

