
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<STRONG>Input:</STRONG>
<P>
DICOM collection: <%= link_to_userfile_if_accessible params[:dicom_colid] %>
<P>
Use coordinates? <%= params[:use_coordinates] == "1" ? "Yes" : "No" %>
<P>
File renaming pattern:
<% if params[:output_filename_pattern].present? %>
  <%= h(params[:output_filename_pattern]) %>
<% else %>
  (None. Output Minc filenames are chosen by Dcm2Minc)
<% end %>
<P>

<% if params[:orig_mincfile_basenames].present? && params[:output_filename_pattern].present? %>
<strong>Filenames as originally generated (FYI):</strong>
<ul>
  <% params[:orig_mincfile_basenames].each do |fn| %>
    <li><%= fn %></li>
  <% end %>
</ul>
<% end %>

<P>
<STRONG>Outputs:</STRONG>
<P>
<UL>
<% if params[:created_mincfile_ids] %>
<%   params[:created_mincfile_ids].each do |id| %>
  <LI>Mincfile: <%= link_to_userfile_if_accessible id %></LI>
<%   end %>
<% else %>
  <LI>(No Minc files created yet)</LI>
<% end %>
</UL>



<% onames = params[:orig_mincfile_basenames] || [] %>
<% if onames.size > 0 && ! params[:output_filename_pattern].blank? %>
<P>
For your information, here is the list of original Minc filenames as created by Dcm2Mnc,
before they were renamed:
<P>
<UL>
<% onames.each do |n| %>
  <li><%= h(n) %></li>
<% end %>
</UL>
<% end %>

