
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<%= render :partial => 'utility_interface_file_list',
           :locals  => { :toolname => 'Dcm2Minc', :params_var => :dicom_colid }
%>

<h4>Options</h4>

<fieldset class="groupentry">

<legend>Basic Dcm2Mnc command-line options</legend>

<P>

Use Dcm2Minc's '-usecoordinates' option:
<%= form.params_check_box :use_coordinates %>

<P>

</fieldset>

<p>

<fieldset class="groupentry">

<legend>Output filenames renaming</legend>

<p>

Created Minc files will be renamed with names that match this pattern:
<br>
<%= form.params_text_field :output_filename_pattern, :size => 80 %><br>
<small>(Leave blank to let Dcm2Minc name the files automatically like it normally does)</small>

<P>
Patterns can include the following special
<em>{keywords}</em> in curly brackets that will be substituted
automatically. The supported keywords are:

<dl>

  <dt>{date}</dt>
  <dd>The current date in this format: YYYY-MM-DD</dd>

  <dt>{time}</dt>
  <dd>The current time in this format: HH:MM:SS</dd>

  <dt>{task_id}</dt>
  <dd>A unique number ID for each Dcm2Minc task, which
      doesn't change if the task is restarted</dd>

  <dt>{run_number}</dt>
  <dd>A numeric run number that increases everytime the Dcm2Minc
      task is restarted, initially set to '1'</dd>

  <dt>{dicom-1}, {dicom-2}, {dicom-3} etc</dt>
  <dd>These are string components extracted from the original DICOM
      file collection name; the components are extracted from blocks of<br>
      consecutive letters and digits. For instance, if your DICOM file
      collection is named "ab23-2tesla=John_Wu.dicom", then the values<br>
      for these <em>{keywords}</em> would be
      <ul>
        <li>{dicom-1} = "ab23"</li>
        <li>{dicom-2} = "2tesla"</li>
        <li>{dicom-3} = "John"</li>
        <li>{dicom-4} = "Wu"</li>
        <li>{dicom-5} = "dicom"</li>
      </ul>
  </dd>

  <dt>{minc-1}, {minc-2}, {minc-3} etc</dt>
  <dd>Just like for <em>{dicom-1}</em> etc, these string components
      extracted from the Minc filenames normally created by Dcm2Minc.<br>
      This is useful if you already have a good idea of the
      built-in filename generation rules that Dcm2Minc uses.<br>
      For instance, if a Minc file is created with the name
      "anonymous_20080710_092900_10_mri.mnc", then the values<br>
      for these <em>{keywords}</em> would be
      <ul>
        <li>{minc-1} = "anonymous"</li>
        <li>{minc-2} = "20080710"</li>
        <li>{minc-3} = "092900"</li>
        <li>{minc-4} = "10"</li>
        <li>{minc-5} = "mri"</li>
        <li>{minc-6} = "mnc"</li>
      </ul>
      Note that one way to figure out what Minc filenames Dcm2Minc
      normally creates is to run this task once then look<br>
      at the task's summary page, which will show the
      original Minc filenames even if you've chosen to rename<br>
      them with this pattern mechanism.
  </dd>

</dl>

<p>

</fieldset>

<%
  previous_minc_ids = params[:created_mincfile_ids] || []
  previous_mincs = []
  previous_minc_ids.each do |id|
    u = Userfile.find(id) rescue nil
    previous_mincs << u if u
  end
%>

<% if ! @task.new_record? && previous_mincs.size > 0 %>

  <P>

  <fieldset class="groupentry">

  <legend>Auto-cleanup of previous runs</legend>

  <p>
 
  Upon successful completion of this task,
  erase these mincfiles created by a previous run:
  <%= form.params_check_box :erase_old_results %>
  <br>
  <ul>
    <% previous_mincs.each do |u| %>
      <li><%= link_to_userfile_if_accessible(u) %></li>
    <% end %>
  </ul>

  <p>

  </fieldset>

<% end %>

