
<STRONG>Input:</STRONG>

<BR>
<UL>
<% params[:interface_userfile_ids].each do |id| %>
  <LI>Userfile: <%= link_to_userfile_if_accessible id %></LI>
<% end %>
</UL>

<P>

Voxel type: <%= h(params[:voxel_type]) %>
<% if params[:voxel_type] =~ /byte|short|int/ %>
<%= h(params[:voxel_int_signity]) %>
<% end %>
<P>
Space ordering: <%= h(params[:space_ordering]) %>

<% flip_order = params[:flip_order] || "" %>
<% flipped = flip_order.each_char.select { |c| c =~ /[xyz]/i } %>
<% if flipped.size > 0 %>
with these axis flipper in order: <%= flipped.map(&:upcase).join(", ") %>.
<% else %>
with no flipping of any axis.
<% end %>

<P>
Cosines rectified with <em>minc_modify_header</em>: <%= params[:rectify_cosines] == "1" ? "Yes" : "No" %>

<P>

<STRONG>Output Minc File:</STRONG>
<%= link_to_userfile_if_accessible params[:output_mincfile_id] %></LI>

