
<%

#
# CBRAIN Project
#
# Original author: Pierre Rioux
#
# $Id: index.html.erb 38 2008-10-31 17:13:03Z prioux $
#

-%>

<% title 'CIVET Parameters' %>

<h1>New CIVET task</h1>

<%
     form_tag( '/civet/create' ) do 
-%>

<%= hidden_field_tag :task, 'DrmaaCivet' %>

<% for file in @params[:file_params] %>
   <%= render :partial => 'civet_file', :locals  => {:file  => file} %>
<% end %>

<big>Command options:</big><BR>

<table class="userfiles">
<tr>
   <th>Pipeline Control Options</th>
   <th>Civet Options</th>
<tr>
<tr class="list-even">
<td>
   <table border="0" class="userfiles">
   <tr>
      <td>
         Make graph:
      </td>
      <td>
        <%= check_box_tag( 'civet_params[make_graph]', '1', @params[:civet_params][:make_graph]) %>     
      </td>
   </tr>
   <tr>
      <td>
          Make filename graph:  
      </td>
      <td>
          <%= check_box_tag( 'civet_params[make_filename_graph]', '1', @params[:civet_params][:make_filename_graph] ) %>    
      </td>
   </tr>
   <tr>
      <td>
          Print status report:
      </td>
      <td>
          <%= check_box_tag( 'civet_params[print_status_report]', '1', @params[:civet_params][:print_status_report] ) %>    
      </td>
   </tr>
   </table>      
</td>
<td rowspan="3">
   <table border="0" class="userfiles">
      <tr>
         <td>
            Correct PVE:
         </td>
         <td>
            <%= check_box_tag( 'civet_params[correct_pve]', '1', @params[:civet_params][:correct_pve] ) %>
         </td>
      </tr>
      <tr>
         <td>
            Interpolation:
         </td>
         <td>
            <select name="civet_params[interp]">
              <%= options_for_select(
                [ "trilinear", "tricubic", "sinc" ],
                @params[:civet_params][:interp])
              %>
              </select>
         </td>
      </tr>
      <tr>
         <td>
            N3 distance:
         </td>
         <td>
            <%= text_field_tag 'civet_params[N3_distance]', @params[:civet_params][:N3_distance]   %>
         </td>
      </tr>
      <tr>
         <td>
            Number of parameters transformation for linear registration:
         </td>
         <td>
            <select name="civet_params[lsq]">
              <%= options_for_select(
                [ "6", "9", "12" ],
                @params[:civet_params][:lsq])
              %>
              </select>
         </td>
      </tr>
      <tr>
         <td>
            Do NOT build surfaces:
         </td>
         <td>
             <%= check_box_tag( 'civet_params[no_surfaces]', '1', @params[:civet_params][:no_surfaces] ) %>
         </td>
      </tr>
      <tr>
         <td>
            Thickness method and kernel size:       
         </td>
         <td>
            <select name="civet_params[thickness_method]">
              <%= options_for_select(
                [ "tnormal", "tlink", "tlaplace", "tnear" ],
                @params[:civet_params][:thickness_method])
              %>
              </select>
              <%= text_field_tag 'civet_params[thickness_kernel]', @params[:civet_params][:thickness_kernel]   %>
         </td>
      </tr>
      <tr>
         <td>
            Resample surfaces:
         </td>
         <td>
            <%= check_box_tag( 'civet_params[resample_surfaces]', '1', @params[:civet_params][:resample_surfaces] ) %>
         </td>
      </tr>
      <tr>
         <td>
            Combine surfaces:
         </td>
         <td>
            <%= check_box_tag( 'civet_params[combine_surfaces]', '1', @params[:civet_params][:combine_surfaces] ) %>
         </td>
      </tr>
    </table>
</td>
</tr>

<tr>
   <th>Pipeline Options</th>
</tr>
<tr class="list-even">
<td>
   <table border="0" class="userfiles">
      <tr>
         <td>
            Template:
         </td>
         <td>
            <select name="civet_params[template]">
              <%= options_for_select(
                [ "0.50", "0.75", "1.00", "1.50", "2.00", "3.00", "4.00", "6.00" ],
                @params[:civet_params][:template])
              %>
              </select>
         </td>
      </tr>
      <tr>
         <td>
            Model:
         </td>
         <td>
            <select name="civet_params[model]">
              <%= options_for_select(
                [ "icbm152lin", "icbm152nl" ],
                @params[:civet_params][:model])
              %>
              </select>
         </td>
      </tr>
    </table>
</td>
</tr>

</table>

<%= submit_tag 'Start CIVET' %>

<% end %>

