
<h5>About This OpenNeuro Dataset</h5>

<% if @open_neuro.configured? %>

  <p class="medium_paragraphs">
    This dataset is currently <strong>installed</strong> within the CBRAIN system.
  </p>

  <% if ! @open_neuro.all_registered? %>
    <p class="medium_paragraphs">
      However, <strong>not all files</strong> are currently registered.
      It is possible the file registration process is still ongoing.
      You can
      <%= link_to "refresh this page",
        { :action     => :show,
          :controller => :open_neuro,
          :name       => @open_neuro.name,
          :version    => @open_neuro.version,
        },
        :class => 'action_link'
      %>
      to monitor the installation process.
    </p>
    <p>
      If the file registration process shows as incomplete for more than 24 hours,
      please contact
      <% if RemoteResource.current_resource.support_email.present? %>
        the CBRAIN administrators at
        <a href="mailto:<%= RemoteResource.current_resource.support_email %>"><%= RemoteResource.current_resource.support_email %></a>.
      <% else %>
        the CBRAIN administrators.
      <% end %>
    </p>
  <% end %>

  <p class="medium_paragraphs">
    The dataset's files are registered in the public project <%= link_to_group_if_accessible(@open_neuro.work_group) %>.
  </p>

  <p class="medium_paragraphs">
    You can also directly switch to the project files here:
    <%= link_to 'Switch to project', { :controller => :groups, :action => :switch, :id => @open_neuro.work_group.id }, :class => "button", :method  => :post %>
  </p>

<% else %>

  <p class="medium_paragraphs">
    This dataset is currently <strong>not installed</strong> within the CBRAIN system.
  </p>

  <p class="medium_paragraphs">
    However, by clicking the button below, you can initiate the dataset installation
    as a Public Project. Once the dataset is installed, you can access the dataset's
    files, select them for processing, and view their contents.
  </p>

  <p class="medium_paragraphs">
    Depending on the size of the dataset, the installation process can take several minutes or even hours.
  </p>

  <%= button_to(
    'Install The Dataset Now!',
      { :controller => :open_neuro, :action => :create },
      :class => "btn-solid primary btn",
      :data  => { :confirm => "Are you sure you want to install this OpenNeuro dataset?" }
    )
  %>

<% end %>
